@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    margin: 0;
    padding: 0;
  }
  :root {
    --primary: #4f46e5;
    --white: #ffffff;
  }

  .custom-shape-divider-bottom-1659884035 {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-bottom-1659884035 svg {
    position: relative;
    display: block;
    width: calc(259% + 1.3px);
    height: 212px;
    transform: rotateY(180deg);
  }

  .custom-shape-divider-bottom-1659884035 .shape-fill {
    fill: #ffffff;
  }

  /* shadow effect */

  .shadowEffect a {
    position: relative;
    width: 100px;
    height: 40px;
    margin: 10px 0;
    /* font-size: 18px; */
    text-decoration: none;
    transition: 0.5s;
    @apply items-center justify-center bg-cover;
  }
  .shadowEffect a span {
    position: relative;
    z-index: 1;
  }
  .shadowEffect a:hover {
    color: #fff;
  }
  .shadowEffect a:hover::before {
    width: 100%;
  }
  .shadowEffect a::before {
    content: "";
    @apply absolute top-0 left-0 w-[0%] h-[100%] bg-cover;
    transform-origin: left;
    transition: 0.5s;
    background-image: url("../public/images/btn_bg.png");
  }

  /* Buttons css */

  .neonButton {
    position: relative;
    padding: 10px 30px;
    margin: 0 15px;
    color: #4f46e5;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
    transition: 0.5s;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0003);
    @apply overflow-hidden font-medium uppercase hover:text-white;
  }
  .neonButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid #4f46e5;
    border-left: 2px solid #4f46e5;
    transition: 0.5s;
    transition-delay: 0.5s;
  }
  .neonButton:hover {
    background: #4f46e5;
    box-shadow: 0 0 50px #4f46e5;
    transition-delay: 0.2s;
  }
  .neonButton:hover:before {
    width: 100%;
    height: 100%;
    transition-delay: 0s;
  }
  .neonButton::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #4f46e5;
    border-right: 2px solid #4f46e5;
    transition: 0.5s;
    transition-delay: 0.5s;
  }
  .neonButton:hover::after {
    width: 100%;
    height: 100%;
    transition-delay: 0s;
  }

  /* Glowbox CSS */
  .glowBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    overflow: hidden;
    min-height: 80vh;
    position: absolute;
  }
  .darkBG{
    background-color:rgb(17 ,23, 34/var(1));
  }
  .title {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-family: inter, sans-serif;
    --tw-bg-opacity: 1;
    text-align: center;
    visibility: visible;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    background: linear-gradient(
      180deg,
      rgba(74, 108, 247, 0.4) 0%,
      rgba(74, 108, 247, 0) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.2;
    position: relative;
    left: 50%;
    top: 0;
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    font-weight: 800;
    line-height: 1 !important;
    font-size: 95px;
  }
  .glowing {
    /* @apply overflow-hidden; */
    position: relative;
    min-width: 750px;
    height: 750px;
    margin: -150px;
    transform-origin: right;
    animation: colorChange 5s linear infinite;
  }
  @keyframes colorChange {
    0% {
      filter: hue-rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      filter: hue-rotate(random(-360, 360) deg);
      transform: rotate(360deg);
    }
  }
  .glowing:nth-child(even) {
    transform-origin: left;
  }

  .glowing span {
    position: absolute;
    top: calc(80px * var(--i));
    left: calc(80px * var(--i));
    right: calc(80px * var(--i));
    bottom: calc(80px * var(--i));
  }
  .glowing span:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    width: 15px;
    height: 15px;
    background: #f00;
    border-radius: 50%;
  }

  .glowing span:nth-child(3n + 1)::before {
    background: rgba(79, 70, 229, 1);
    box-shadow: 0 0 20px rgba(79, 70, 229, 1), 0 0 40px rgba(79, 70, 229, 1),
      0 0 60px rgba(79, 70, 229, 1), 0 0 80px rgba(79, 70, 229, 1),
      0 0 0 8px rgba(79, 70, 229, 0.1);
  }
  .glowing span:nth-child(3n + 2)::before {
    background: rgba(79, 70, 229, 1);
    box-shadow: 0 0 20px rgba(79, 70, 229, 1), 0 0 40px rgba(79, 70, 229, 1),
      0 0 60px rgba(79, 70, 229, 1), 0 0 80px rgba(79, 70, 229, 1),
      0 0 0 8px rgba(79, 70, 229, 0.1);
  }
  .glowing span:nth-child(3n + 3)::before {
    background: rgba(79, 70, 229, 1);
    box-shadow: 0 0 20px rgba(79, 70, 229, 1), 0 0 40px rgba(79, 70, 229, 1),
      0 0 60px rgba(79, 70, 229, 1), 0 0 80px rgba(79, 70, 229, 1),
      0 0 0 8px rgba(79, 70, 229, 0.1);
  }
  .glowing span:nth-child(3n + 1) {
    animation: animate 10s alternate infinite;
  }
  .glowing span:nth-child(3n + 2) {
    animation: animate-reverse 3s alternate infinite;
  }
  .glowing span:nth-child(3n + 3) {
    animation: animate-reverse 8s alternate infinite;
  }
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes animate-reverse {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}
